<!DOCTYPE html>
<html>
    <head>
        <title>Calories</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <div class="container">
            <div class="data">
                <a href="#">&lt;-</a>
                <p>{{ data }}</p>
                <a href="#">-&gt;</a>
            </div>
            <form action="/save_data" method="post">
                <div class="input_products">
                    <input type="text" name="products">
                </div>
            </form>
            <div class="total_container">
                <p style="display: flex; justify-content: center;">Kcal: {{ total_macros['kcal'] }}</p>
                <div class="macros">
                    <p>Carbs: {{ total_macros['carbs'] }}</p>
                    <p>Proteins: {{ total_macros['proteins'] }}</p>
                    <p>Fats: {{ total_macros['fats'] }}</p>
                </div>
            </div>
            <div class="macros_container">
                <table>
                    <tr>
                        <th>Food</th>
                        <th>Kcal</th>
                        <th>Carbs</th>
                        <th>Proteins</th>
                        <th>Fats</th>
                    </tr>
                    {% if macros %}
                    {% for macro in macros %}
                        <tr>
                            <td>{{ macro['name'] }}</td>
                            <td>{{ macro['kcal'] }}</td>
                            <td>{{ macro['carbs'] }}</td>
                            <td>{{ macro['proteins'] }}</td>
                            <td>{{ macro['fats'] }}</td>
                        </tr>
                    {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>
    </body>
</html>